@font-face {
  font-family: 'arkhamicons';
  src:  url('arkhamicons.eot');
  src:  url('arkhamicons.eot') format('embedded-opentype'),
    url('arkhamicons.ttf') format('truetype'),
    url('arkhamicons.woff') format('woff'),
    url('arkhamicons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="arkhamicons"], [class*=" arkhamicons"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'arkhamicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.arkhamiconsguardian:before {
  content: "\e900";
}
.arkhamiconsseeker:before {
  content: "\e901";
}
.arkhamiconsmystic:before {
  content: "\e902";
}
.arkhamiconsrogue:before {
  content: "\e903";
}
.arkhamiconssurvivor:before {
  content: "\e904";
}
.arkhamiconswillpower:before {
  content: "\e905";
}
.arkhamiconsintellect:before {
  content: "\e906";
}
.arkhamiconscombat:before {
  content: "\e907";
}
.arkhamiconsagility:before {
  content: "\e908";
}
.arkhamiconswild:before {
  content: "\e909";
}
.arkhamiconselder_sign:before {
  content: "\e90a";
}
.arkhamiconsneutral:before {
  content: "\e90b";
}
.arkhamiconsskull:before {
  content: "\e90c";
}
.arkhamiconscultist:before {
  content: "\e90d";
}
.arkhamiconstablet:before {
  content: "\e90e";
}
.arkhamiconselder_thing:before {
  content: "\e90f";
}
.arkhamiconsauto_fail:before {
  content: "\e910";
}
.arkhamiconsper_investigator:before {
  content: "\e911";
}
.arkhamiconsweakness:before {
  content: "\e912";
}
.arkhamiconsaction:before {
  content: "\e913";
}
.arkhamiconsreaction:before {
  content: "\e914";
}
.arkhamiconsfree:before {
  content: "\e915";
}
.arkhamiconsbullet:before {
  content: "\e916";
}
.arkhamiconsguide_bullet:before {
  content: "\e917";
}
.arkhamiconscurse:before {
  content: "\e918";
}
.arkhamiconsbless:before {
  content: "\e919";
}
.arkhamiconsfrost:before {
  content: "\e91a";
}
.arkhamiconsseal_a:before {
  content: "\e91b";
}
.arkhamiconsseal_b:before {
  content: "\e91c";
}
.arkhamiconsseal_c:before {
  content: "\e91d";
}
.arkhamiconsseal_d:before {
  content: "\e91e";
}
.arkhamiconsseal_e:before {
  content: "\e91f";
}
