@font-face {
  font-family: 'arkhamicons';
  src:  url('arkhamicons.eot?qfohqu');
  src:  url('arkhamicons.eot?qfohqu#iefix') format('embedded-opentype'),
    url('arkhamicons.ttf?qfohqu') format('truetype'),
    url('arkhamicons.woff?qfohqu') format('woff'),
    url('arkhamicons.svg?qfohqu#arkhamicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="arkhamicons"], [class*=" arkhamicons"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'arkhamicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.arkhamiconsseal_e:before {
  content: "\e904";
}
.arkhamiconsseal_d:before {
  content: "\e905";
}
.arkhamiconsseal_c:before {
  content: "\e906";
}
.arkhamiconsseal_b:before {
  content: "\e907";
}
.arkhamiconsseal_a:before {
  content: "\e908";
}
.arkhamiconstarot_inverted:before {
  content: "\41";
}
.arkhamiconstarot:before {
  content: "\42";
}
.arkhamiconsaccessory_inverted:before {
  content: "\43";
}
.arkhamiconsaccessory:before {
  content: "\44";
}
.arkhamiconsally_inverted:before {
  content: "\45";
}
.arkhamiconsally:before {
  content: "\46";
}
.arkhamiconsarcane_inverted:before {
  content: "\47";
}
.arkhamiconsarcane_x2_inverted:before {
  content: "\48";
}
.arkhamiconsarcane_x2:before {
  content: "\49";
}
.arkhamiconsarcane:before {
  content: "\4a";
}
.arkhamiconsbody_inverted:before {
  content: "\4b";
}
.arkhamiconsbody:before {
  content: "\4c";
}
.arkhamiconshand_x2_inverted:before {
  content: "\4e";
}
.arkhamiconshand_x2:before {
  content: "\4f";
}
.arkhamiconshand_inverted:before {
  content: "\4d";
}
.arkhamiconshand:before {
  content: "\50";
}
.arkhamiconshead_inverted:before {
  content: "\5f";
}
.arkhamiconshead:before {
  content: "\60";
}
.arkhamiconshealth:before {
  content: "\51";
}
.arkhamiconssanity:before {
  content: "\52";
}
.arkhamiconssanity_inverted:before {
  content: "\53";
}
.arkhamiconshealth_inverted:before {
  content: "\54";
}
.arkhamiconsstar-fill:before {
  content: "\55";
}
.arkhamiconsstar-outline:before {
  content: "\56";
}
.arkhamiconsstar:before {
  content: "\57";
}
.arkhamiconsx-fill:before {
  content: "\58";
}
.arkhamiconsx-outline:before {
  content: "\59";
}
.arkhamiconsx:before {
  content: "\5a";
}
.arkhamiconsnum0-fill:before {
  content: "\5b";
}
.arkhamiconsnum0-outline:before {
  content: "\5d";
}
.arkhamiconsnum0:before {
  content: "\7b";
}
.arkhamiconsnum1-fill:before {
  content: "\7d";
}
.arkhamiconsnum1-outline:before {
  content: "\3b";
}
.arkhamiconsnum1:before {
  content: "\3a";
}
.arkhamiconsnum2-fill:before {
  content: "\27";
}
.arkhamiconsnum2-outline:before {
  content: "\22";
}
.arkhamiconsnum2:before {
  content: "\2c";
}
.arkhamiconsnum3-fill:before {
  content: "\3c";
}
.arkhamiconsnum3-outline:before {
  content: "\2e";
}
.arkhamiconsnum3:before {
  content: "\3e";
}
.arkhamiconsnum4-fill:before {
  content: "\2f";
}
.arkhamiconsnum4-outline:before {
  content: "\e943";
}
.arkhamiconsnum4:before {
  content: "\31";
}
.arkhamiconsnum5-fill:before {
  content: "\21";
}
.arkhamiconsnum5-outline:before {
  content: "\32";
}
.arkhamiconsnum5:before {
  content: "\40";
}
.arkhamiconsnum6-fill:before {
  content: "\33";
}
.arkhamiconsnum6-outline:before {
  content: "\23";
}
.arkhamiconsnum6:before {
  content: "\34";
}
.arkhamiconsnum7-fill:before {
  content: "\24";
}
.arkhamiconsnum7-outline:before {
  content: "\35";
}
.arkhamiconsnum7:before {
  content: "\25";
}
.arkhamiconsnum8-fill:before {
  content: "\36";
}
.arkhamiconsnum8-outline:before {
  content: "\5e";
}
.arkhamiconsnum8:before {
  content: "\37";
}
.arkhamiconsnum9-fill:before {
  content: "\26";
}
.arkhamiconsnum9-outline:before {
  content: "\38";
}
.arkhamiconsnum9:before {
  content: "\2a";
}
.arkhamiconsnumNull-fill:before {
  content: "\39";
}
.arkhamiconsnumNull-outline:before {
  content: "\28";
}
.arkhamiconsnumNull:before {
  content: "\30";
}
.arkhamiconsguardian:before {
  content: "\29";
}
.arkhamiconsseeker:before {
  content: "\62";
}
.arkhamiconsmystic:before {
  content: "\63";
}
.arkhamiconsrogue:before {
  content: "\64";
}
.arkhamiconssurvivor:before {
  content: "\65";
}
.arkhamiconswillpower:before {
  content: "\66";
}
.arkhamiconsintellect:before {
  content: "\67";
}
.arkhamiconscombat:before {
  content: "\68";
}
.arkhamiconsagility:before {
  content: "\69";
}
.arkhamiconswild:before {
  content: "\6a";
}
.arkhamiconselder_sign:before {
  content: "\6b";
}
.arkhamiconsneutral:before {
  content: "\6c";
}
.arkhamiconsskull:before {
  content: "\6d";
}
.arkhamiconscultist:before {
  content: "\6e";
}
.arkhamiconstablet:before {
  content: "\6f";
}
.arkhamiconselder_thing:before {
  content: "\70";
}
.arkhamiconsauto_fail:before {
  content: "\71";
}
.arkhamiconsper_investigator:before {
  content: "\72";
}
.arkhamiconsweakness:before {
  content: "\73";
}
.arkhamiconsaction:before {
  content: "\74";
}
.arkhamiconsreaction:before {
  content: "\75";
}
.arkhamiconsfree:before {
  content: "\76";
}
.arkhamiconsbullet:before {
  content: "\77";
}
.arkhamiconsguide_bullet:before {
  content: "\78";
}
.arkhamiconscurse:before {
  content: "\79";
}
.arkhamiconsbless:before {
  content: "\7a";
}
.arkhamiconsparallel:before {
  content: "\e92d";
}
.arkhamiconsskill_willpower:before {
  content: "\e90a";
}
.arkhamiconsskill_willpower_inverted:before {
  content: "\e90b";
}
.arkhamiconsskill_intellect:before {
  content: "\e90c";
}
.arkhamiconsskill_intellect_inverted:before {
  content: "\e90d";
}
.arkhamiconsskill_combat:before {
  content: "\e90e";
}
.arkhamiconsskill_combat_inverted:before {
  content: "\e92e";
}
.arkhamiconsskill_agility:before {
  content: "\e92f";
}
.arkhamiconsskill_agility_inverted:before {
  content: "\e930";
}
.arkhamiconsskill_wild:before {
  content: "\e931";
}
.arkhamiconsskill_wild_inverted:before {
  content: "\e932";
}
.arkhamiconsfrost:before {
  content: "\e900";
}
.arkhamiconsblood:before {
  content: "\e909";
}
.arkhamiconscodex:before {
  content: "\e901";
}
.arkhamiconsnight:before {
  content: "\e902";
}
.arkhamiconsday:before {
  content: "\e903";
}
